<!DOCTYPE HTML>
<html>
<head>
	<title>CREATION GÉOCACHE - Geocaching Jeux de Sophia 2019</title>
	<% include ./partials/head %>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
	<style>
		#map{ height: 350px; }
		p, ul, ol, dl, table, blockquote {
			margin: 1.5em 0 0 0;
		}
		.button {
			color: #82b440;
			font-size: medium;
			background-color: #FFFFFF;
			border: solid 1px #fff;
			margin-top: 5px;
		}
	</style>
</head>
<body class="homepage">
	<% include ./partials/menu %>

	<div class="wrapper style3">
		<section class="container">
			<header class="major">
				<h2>Création de votre géocache</h2>
			</header>
			<form id="uploadForm" method="post" action="/create_geocache" encType="multipart/form-data">

				<p><b>Type</b> de votre géocache</p>
				<input id="type_geocache_tradi" type="radio" value="TRADI" name="type_geocache" checked/>
				<label for="type_geocache_tradi">
					<img width="60" alt="TRADI" src="/public/images/TRADIBIG.gif" style="margin-left:5px;"/>
					<span style="margin-right:50px; font-size: large">Cache Traditionnelle</span>
				</label>
				<input id="type_geocache_mystery" type="radio" value="MYSTERY" name="type_geocache"/>
				<label for="type_geocache_mystery">
					<img width="60" alt="MYSTERY" src="/public/images/MYSTERYBIG.gif" style="margin-left:5px;"/>
					<span style="font-size: large">Cache Mystère</span>
				</label>

				<br>

				<p><b>Nom</b> de votre géocache</p>
				<input type="text" size="20" maxlength="250" name="name" id="name" value="" style="border: solid 1px #fff;" placeholder="Le nom sera visible sur le site" required/>


				<p><label for="coords_geocache"><b>Emplacement</b> de votre géocache</label></p>
				<span>Entrez les coordonnnées GPS du lieu précis de votre géocache ci-dessous. Forme 'latitude, longitude' ou 'N 43° XX.ABC E 007° YY.DEF'</span>
				<div>
					<div id="map"></div>

					<a href="#" id="confirm_coordinates" class="button pull-right">&raquo; Confirmer les coordonnées</a>
					<span class="pull-left" style="padding-top: 10px; font-size: larger;">📍</span>
					<input type="text" size="20" maxlength="250" name="coords_geocache" id="coords_geocache" value="" class="" style="border: solid 1px #fff; width: 50%; margin-top:10px;" placeholder="ex: N 43° 36.937 E 007° 04.001" required/>

					<input type="hidden" id="geocache_lat" name="geocache_lat" value="<%= gps.latitude %>">
					<input type="hidden" id="geocache_lng" name="geocache_lng" value="<%= gps.longitude %>">
				</div>



				<script type="text/javascript">
					let map = L.map('map').setView([<%= gps.latitude %>, <%= gps.longitude %>], 17);
					L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
						attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
					}).addTo(map);
					L.control.scale().addTo(map);
					let marker = L.marker([<%= gps.latitude %>, <%= gps.longitude %>]) ;

					function update_coords(lat, lng) {
						marker.setLatLng([lat, lng]).addTo(map);
						map.setView([lat, lng], 17);
						$('geocache_lat').value = lat;
						$('geocache_lng').value = lng;
						alert(lat+lng);
					}

					function check_coords(coords) {
						$.ajax({
							url: "/check_coordinates",
							method: "POST",
							data: {coords: coords},
						}).done(function (response) {
							update_coords(response.lat, response.lng);

						}).fail(function (jqXHR, textStatus) {
							alert("FAIL");
						});
					}

					$('#confirm_coordinates').click(function() {
						let coords = document.getElementById('coords_geocache').value;
						check_coords(coords);
						return false;
					});

				</script>


				<br>



				<br>

				<label for="code"><b>Code de suivi</b> situé sur le tag en bois à attacher à votre objet, à récupérer <a href="/geocache?id=SAg9v68wGD" style="color: white;">ici</a></label>
				<input type="text" size="4" maxlength="4" name="code" id="code" value="" style="border: solid 1px #fff;" placeholder="Le code ne sera pas visible sur le site mais il permet d'identifier uniquement l'objet au moment des voyages" required/>
				<br>
				
				<label for="description"><b>Description</b> de votre objet</label>
				<textarea name="description" id="description" value="" style="border: solid 1px #fff; " placeholder="La description sera visible sur le site" maxlength="1000" required></textarea>
				<br>
				
				<label for="email"><b>Email</b> des Jeux de Sophia - <i>Nécessaire pour vous identifier, ne sera pas visible sur le site</i></label>
				<input type="email" name="email" id="email" value="" style="border: solid 1px #fff;" placeholder="L'email ne sera pas visible sur le site" required/>
				<br>
				<label for="pseudo"><b>Pseudo</b> pour l'épreuve Géocaching - <i>Sera affiché sur le site pour vous représenter</i></label>
				<input type="text" name="pseudo" id="pseudo" value="" style="border: solid 1px #fff;" placeholder="Ce pseudo sera visible sur le site" required/>
				<br>
				<label for="mission"><b>🚀 La mission de votre Objet Voyageur</b></label>
				<div><i>Veillez à bien choisir la mission pour qu'elle soit réalisable par les participants par le biais de photos. <br>Pensez à quelque chose de faisable et de rigolo pour le plus grand plaisir de tous. Voici quelques exemples : </i><br> 
				<ul>
					<li>- Etre pris en photo avec un membre du Staff des JDS</li> 
					<li>- Parcourir une distance cumulé de plus de 100km<li> 
					<li>- Prendre une photo en train de lui faire un bisou, ...</li>  
				</ul>
				</div>
				<input type="text" name="mission" id="mission" value="" style="border: solid 1px #fff;" placeholder="Mission personnelle que vous choisissez, assurez-vous quelle soit réalisable dans le cadre de l'épreuve" maxlength="500" required/>
				<br>		

				<label for="pic">Une <b>photo de votre objet</b> le code de suivi ne doit pas être visible (<i>sera visible sur le site</i>) : </label>
				<input type="file" name="pic" id="pic" accept="image/*" required>
				<br>
	
			    <br><input type="submit" value="Enregistrer" name="submit" class="button alt" id="submitButton" title="Clic ici pour donner vie à ton Objet Voyageur" />
			    <br><br>	
			    <p>⚠️ Une fois l'objet enregistré vous ne pourrez le modifier qu'en nous contactant, assurez-vous que tout vous convient avant de cliquer sur enregistrer.</p>			
			</form>  				 
		</section>
	</div>
	<div id="footer">
		<ul class="icons">
			<h5>Un problème avec l'enregistement de votre objet ?</h5> <br> Contactez-nous : <li><a href="mailto:geocaching@jeuxdesophia.com" class="fa fa-envelope"><span>Email</span></a></li>
		</ul>
	</div>
</body>
</html>