<!DOCTYPE HTML>
<html>
<head>
	<title>FOUND IT - Geocaching Jeux de Sophia 2019</title>
	<% include ./partials/head %>
</head>
<body class="homepage">
	<div class="wrapper style1">
		<div id="header">
			<div class="container">
				<h1><a href="/" id="logo">Géocaching</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Accueil</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="wrapper style3">
		<section class="container">
			<header class="major">
				<h2>Créer un log pour la cache "<%= nom %>"</h2>
			</header>
			<form ref="uploadForm" id="uploadForm" method="post" action="/found" encType="multipart/form-data">
				<input type="hidden" name="id" id="<%= id %>" value="<%= id %>" />

				<input type="hidden" type="email" name="email" id="email" value="<%= email %>" style="border: solid 1px #fff;" placeholder="L'email ne sera pas visible sur le site" required/>
				<br>
				<input type="hidden" type="text" name="name" id="name" value="<%= pseudo %>" style="border: solid 1px #fff;" placeholder="Ce pseudo sera visible sur le site" required/>
				<br>
				Un petit Message pour partager votre découverte
				<input type="text" name="message" id="message" value="" style="border: solid 1px #fff;" placeholder="Ce Message sera visible sur le site" maxlength="500" required/>
				<br>		

				<% if(cat!='MYSTERY') { %>
					Une photo souvenir (sera visible sur le site)
					<input type="file" name="pic" id="pic" accept="image/*">
					<br>
				<% } %>

				<br>
				Si vous avez apprécié découvrir cette cache, attribuez lui un point favori en cochant cette case : 
				<input type="checkbox" name="fav" value="true" /> 👍

				<br><br><input type="submit" value="J'ai trouvé !" name="submit" class="button alt" id="submitButton" title="Clic ici pour envoyer la trouvaille" />
				
			</form>  				 
		</section>
	</div>
	<div id="footer">
		<ul class="icons">
			Un problème avec cette cache ? <br> Contactez-nous : <li><a href="mailto:geocaching@jeuxdesophia.com?subject=FoundIt de la cache <%= nom %>" class="fa fa-envelope"><span>Email</span></a></li>
		</ul>
	</div>
</body>
</html>