<!DOCTYPE HTML>
<html>
<head>
	<title>FOUND - Geocaching Jeux de Sophia 2018</title>
	<% include ./partials/head %>
</head>
<body class="homepage">
	<div class="wrapper style1">
		<div id="header">
			<div class="container">
				<h1><a href="/" id="logo">Géocaching</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Accueil</a></li>
					</ul>
				</nav>

			</div>
		</div>

	</div>

	<div class="wrapper style3">
		<section class="container">
			<header class="major">
				<h2><%- message %></h2>
			</header>
		</section>

		<% if( cat=='TRADI' || cat=='MULTI' || cat=='LETTERBOX' || cat=='EVENT' || cat=='CITO' || cat=='WHERIGO' ) { %>
			<section>

			<% if(tbsout.length == 0)  { %>
				<p class="medium">Il n'y a pas de TB dans cette cache. </p>
			<% } else { %>
				<p>Vous pouvez récupérer un des objets suivants : </p>
				<ul>
				<% tbsout.forEach(function(obj) { %>
					<li><a style="color:blue;" href="/tb?id=<%= obj.id %>"><b><%= obj.get("Name") %></b></a> - <a style="color:blue;" href="/logtb?action=grab&id=<%= obj.id %>&cacheId=<%= cacheid %>&geocacheurId=<%= geocacheurId %>">Récuperez le !</a></li>
				<% }); %>
				</ul>
			<% } %>

			<% if(tbsin.length == 0)  { %>
				<p class="medium">Vous ne possédez pas de TB à déposer dans cette cache. </p>
			<% } else { %>
				<p>Vous pouvez déposer un des objets suivants : </p>
				<ul>
				<% tbsin.forEach(function(obj) { %>
					<li><a style="color:blue;" href="/tb?id=<%= obj.id %>"><b><%= obj.get("Name") %></b></a> - <a style="color:blue;" href="/logtb?action=drop&id=<%= obj.id %>&cacheId=<%= cacheid %>&geocacheurId=<%= geocacheurId %>">Déposez le !</a></li>
				<% }); %>
				</ul>
			<% } %>

			</section>
		<% } %>

		<a href="/geocache?id=<%= cacheid %>" class="button alt">Visualiser la cache</a>

	</div>

	<div id="footer">

	</div>

</body>
</html>