<!DOCTYPE HTML>
<html>
<head>
	<title><%= nom %> - Géocaching Jeux de Sophia 2017</title>
	<% include ./partials/head %>
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
	<div class="wrapper style1">

		<div id="header">
			<div class="container">

				<h1><a href="/" id="logo">Géocaching</a></h1>

				<nav id="nav">
					<ul>
						<li><a href="/">Accueil</a></li>
						<li class="active"><a href="/geocaches">Les Caches à trouver</a></li>
						<li><a href="/geocaching">Règles du jeu</a></li>
						<li><a href="/tools">Les Outils</a></li>
						<li><a href="/ranking">Classement</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>

	<div id="main" class="wrapper style4">

		<div id="content" class="container">
			<section>
				<header class="major">

					<img width="300px;" align="right" src="<%= photo %>" alt="<%= nom %>" style="margin-bottom:20px;">

					<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> -->
					<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfOPPHsPEYs7o8-xdYce1Bdxgmh-4TBAc&callback=initialize"
  type="text/javascript"></script>

					<script>
						locations = [[<%= gps.latitude %>, <%= gps.longitude %>]];

						function initialize() {
							map = new google.maps.Map(document.getElementById("map"), {
								mapTypeId: google.maps.MapTypeId.ROADMAP,
								center: new google.maps.LatLng(locations[0][0], locations[0][1]),
								zoom: 17
							});
							for (var i=0; i<locations.length; i++) {
								var marker = new google.maps.Marker({
									position: new google.maps.LatLng(locations[i][0], locations[i][1]),
									map: map
								})
							}
							//setBoundsLeftSidebar(locations, 0.3);
						}

						//google.maps.event.addDomListener(window, 'load', initialize);
					</script>

					<% include ./partials/geocachecategory %><h2><%= nom %></h2>
					<span class="byline"><%= coord %></span>
					<% include ./partials/rating %>
					
				</header>

				<p><%- description %></p>

			</section>
			<br /><br />
			
			<% if( cat=='TRADI' || cat=='MULTI' || cat=='EARTHCACHE' || cat=='EVENT' || cat=='CITO' || cat=='WHERIGO' ) { %>
			<section>
				<h2>Emplacement</h2>
				<br>
				<div id="map"></div>
			</section>
			<br /><br />
			<% } %>
			

			<% if(cat=='TRADI' || cat=='MULTI' || cat=='EARTHCACHE' || cat=='EVENT' || cat=='CITO' || cat=='WHERIGO' || cat=='MYSTERY') { %>
			<section>
				<h2>Spoiler</h2>
				<br>
				<details>
					<summary>Cliquez pour voir l'indice et l'image Spoiler</summary>
					<img src="<%= spoiler %>" alt="<%= nom %>"> <br />
					<p><b>Indice : </b><%= indice %></p>
				</details>
			</section>
			<br /><br />
			<% } %>

			<% if( cat=='VIRTUAL' || cat=='WEBCAM' || cat=='EARTHCACHE' || cat=='EVENT' || cat=='CITO' ) { %>
			<section>
				<h2>Envoyer une photo pour valider votre trouvaille</h2>
				<br>
				<form ref="uploadForm" id="uploadForm" method="post" action="/found" encType="multipart/form-data">
				<input type="hidden" name="id" id="<%= codeid %>" value="<%= codeid %>" />

				Votre Email des Jeux de Sophia - <i>Nécessaire au classement de l'épreuve</i>
				<input type="email" name="email" id="email" value="" style="border: solid 1px #fff;" placeholder="L'email ne sera pas visible sur le site" required/>
				<br>
				Votre Pseudo pour l'épreuve Géocaching
				<input type="text" name="name" id="name" value="" style="border: solid 1px #fff;" placeholder="Ce pseudo sera visible sur le site" required/>
				<br>
				Un petit Message pour partager votre découverte
				<input type="text" name="message" id="message" value="" style="border: solid 1px #fff;" placeholder="Ce Message sera visible sur le site" maxlength="500" required/>
				<br>		

				<% if(cat!='MYSTERY') { %>
				Une photo souvenir (sera visible sur le site)
				<input type="file" name="pic" id="pic" accept="image/*" required>
				<br>
				<% } %>

				<br>
				Si vous avez apprécié découvrir cette cache, attribuez lui un point favori en cochant cette case : 
				<input type="checkbox" name="fav" value="true" />				

				<br><br><input type="submit" value="J'ai trouvé !" name="submit" class="button" id="submitButton" title="Clic ici pour envoyer la trouvaille" />
				
			</form>  	
				<div class="g-recaptcha" data-sitekey="6LfXHyMUAAAAALaiZRR7GqvCsxQYXUNpPPKAyCmd"></div>
			</section>
			<br /><br />
			<% } %>

			<section>
				<h2>Logbook</h2>
				<br>
				<ul>
					<% if(logs.length == 0)  { %>
					<li><p class="medium">Soyez le premier à trouver la cache et annoncer votre découverte !!!</p></li>
					<% } %>
					<% logs.forEach(function(log) { %>
					<li> <b><%= moment(log.get("Date")).utcOffset(120).fromNow() %> le <%= moment(log.get("Date")).utcOffset(120).format("LL [à] LT") %> </b>- <%= log.get("Pseudo") %> : <i><%= log.get("Message") %></i></li>
					<% }); %>
				</ul>

			</section>

		</div>
	</div>

	<% include ./partials/footer %>


</body>
</html>
