<!DOCTYPE HTML>
<html>
<head>
	<title><%= nom %> - Géocaching Jeux de Sophia 2016</title>
	<% include ./partials/head %>
</head>
<body>

	<!-- Header Wrapper -->
	<div class="wrapper style1">

		<!-- Header -->
		<div id="header">
			<div class="container">

				<!-- Logo -->
				<h1><a href="/" id="logo">Géocaching</a></h1>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/">Accueil</a></li>
						<li class="active"><a href="/geocaches">Les Caches à trouver</a></li>
						<li><a href="/geocaching">Règlement</a></li>
						<li><a href="/tools">Les Outils</a></li>
						<li><a href="http://jeuxdesophia.com/jcms/rda_6290">Inscriptions</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>

	<!-- Main -->
	<div id="main" class="wrapper style4">

		<!-- Content -->
		<div id="content" class="container">
			<section>
				<header class="major">

					<img width="300px;" align="right" src="<%= photo %>" alt="<%= nom %>" style="margin-bottom:20px;">

					<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
					<script>
						locations = [[<%= gps.latitude %>, <%= gps.longitude %>]];

						function initialize() {
							map = new google.maps.Map(document.getElementById("map"), {
								mapTypeId: google.maps.MapTypeId.ROADMAP,
								center: new google.maps.LatLng(locations[0][0], locations[0][1]),
								zoom: 17
							});
							for (var i=0; i<locations.length; i++) {
								var marker = new google.maps.Marker({
									position: new google.maps.LatLng(locations[i][0], locations[i][1]),
									map: map
								})
							}
							//setBoundsLeftSidebar(locations, 0.3);
						}

						google.maps.event.addDomListener(window, 'load', initialize);
					</script>

					<% include ./partials/geocachecategory %><h2><%= nom %></h2>
					<span class="byline"><%= coord %></span>
					<% include ./partials/rating %>
					
				</header>

				<p><%- description %></p>

			</section>
			
			<% if( cat != 'MYSTERY' ) { %>
				<section>
					<h2>Emplacement</h2>
					<br>
					<div id="map"></div>
				</section>
			<% } %>
<br /><br />

			<section>
				<h2>Spoiler</h2>
				<br>
				<details>
					<summary>Cliquez pour voir l'indice et l'image Spoiler</summary>
					<img src="<%= spoiler %>" alt="<%= nom %>"> <br />
					<p><b>Indice : </b><%= indice %></p>
				</details>
			</section>
			<br /><br />
			<section>
				<h2>Logbook</h2>
				<br>
				<ul>
				<% if(logs.length == 0)  { %>
					<li><p class="medium">Soyez le premier à trouver la cache et annoncer votre découverte !!!</p></li>
				<% } %>
					<% logs.forEach(function(log) { %>
					<li> <b><%= moment(log.get("Date")).fromNow() %> (<%= moment(log.get("Date")).format("LL LT") %>) </b>- <%= log.get("Pseudo") %> : <i><%= log.get("Message") %></i></li>
					<% }); %>
				</ul>

			</section>

		</div>
	</div>

	<% include ./partials/footer %>


</body>
</html>