<!DOCTYPE HTML>
<html lang="fr">
<head>
	<title>LISTE DES CACHES - Géocaching Jeux de Sophia 2019</title>
	<% include ./partials/head %>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
</head>
<body>

	<% include ./partials/menu %>

	<div id="main" class="wrapper style4">

		<div id="intro" class="container">
			<section>
				<header class="major">
				<% if (start) { %>
					<h2>A VOUS DE CRÉER, CACHER, TROUVER !</h2>
						<span class="byline">🏁 C'est parti, à vous de créer 🎁</span>
					<br>
						<p>Si vous n'avez pas reçu l'email avec votre lien unique et personnel de création, merci de nous contacter : <a href="mailto:geocaching@jeuxdesophia.com">geocaching@jeuxdesophia.com</a></p>
				<% } else { %>
					<script>
						TargetDate = "06/16/2019 16:00 PM";
						BackColor = "none";
						ForeColor = "none";
						CountActive = true;
						CountStepper = -1;
						LeadingZero = true;
						//DisplayFormat = "<h3>🏁 Lancement de l'épreuve dans %%D%% Jours, %%H%% Heures, %%M%% Minutes, %%S%% Secondes</h3>";
						//FinishMessage = "<h2>C'est parti ! A vous de CRÉER 🎁</h2>";
						DisplayFormat = "<h3>🏁 Fin de l'épreuve dans %%D%% Jours, %%H%% Heures, %%M%% Minutes, %%S%% Secondes</h3>";
						FinishMessage = "<h2>C'est fini ! Merci à tous 😘</h2>";
					</script>
					<script src="public/js/compteur.js"></script>
				<% } %>
		</header>

		<div style="display:flex; flex-wrap:wrap; justify-content:space-evenly; align-items: baseline;" class="clearfix">
			<% geocaches.forEach(function(geocache) { %>
				<div style="padding-right: 50px; padding-bottom: 15px;">
					<a href="/geocache?id=<%= geocache.id %>">
						<img width="220px;" class="border" src="<%= geocache.get("Photo").url().replace(/^[a-zA-Z]{3,5}\:\/{2}[a-zA-Z0-9_.:-]+\//, ''); %>" />
						<p style="text-align: center; width:210px; padding-top: 8px; font-size: 1.1em;">
							<img width="40px;" style="margin-right: 10px;" align="left" src="/public/images/<%= geocache.get('Category') %>BIG.gif"/><b><%= geocache.get("Nom") %></b>
						</p>
					</a>
				</div>
			<% }); %>
		</div> 
		
		<!--
			<div>
				<p>Dernière publication pour l'épreuve : le 16 juin 2017. <br>Une Wherigo D5 vous attend : STAR. <br>Bon courage pour cette ultime et dernière étape avant la cache Challenge.</p>
			</div>
		-->
		<br>
		<div>
			Pour découvrir les bonnes pratiques pour créer une géocache : <a href="/public/Guide-Geocaching-JDS2019.pdf">Le Guide géocaching JDS 2019</a></p>
		</div>
	</section>

	</div>
</div>

<div class="wrapper style2">

	<div id="liste" class="container">
		<section>

			<h2>✍️ Les derniers logs</h2>
			<ul>
				<% logs.forEach(function(log) { %>

				<% if(log.get("Geocache").get("Active") == true)  { %>
					<li>
						<b><a href="/geocache?id=<%= log.get("Geocache").id %>"> <%= log.get("Geocache").get("Nom") %> </a> : <%= moment(log.get("Date")).utcOffset(120).fromNow() %> le <%= moment(log.get("Date")).utcOffset(120).format("LL [à] LT") %> </b>- <%= log.get("Pseudo") %> : <i><%= log.get("Message") %></i>
						<% if(log.get("Fav") == true)  { %> - 👍 <% } %>
					</li>
				<% } %>
				
				<% }); %>
				<li>[...]</li>
			</ul>
			<hr>
			<p class="medium">🎨 Création - du 20 mai au 9 juin - les participants qui le souhaitent peuvent créer seul ou en groupe leur propre Géocache pendant cette période.
			<br>🔎 Recherche - du 27 mai au 16 juin - tous les participants pourront découvrir les caches posées et publiées en première partie.</p>

			<p class="medium"><i>La plupart de ces caches sont spécifiquement posées pour les Jeux de Sophia et sont donc par conséquent non accessibles, ni même visibles sur le site geocaching.com et les applications officielles Géocaching.com.</i></p>

			<div class="clearfix">
				<a href="/photoscaches" style="float: left;" align="left" class="button alt">📷 Galerie photos</a>
				<a href="/ranking" style="float: right;" align="right" class="button alt">🏆 Voir le classement</a>
			</div>
		</section>
	</div>
</div>

<div class="wrapper style5">

	<div id="carte" class="container">

		<section>
			<header class="major">
				<h2>Carte des emplacements</h2>
				<span class="byline">Les coordonnées des caches de type "Mystery - ?" sont fictives, à vous de les trouver ;-)</span>
			</header>


			<div id="map"></div>

			<script type="text/javascript">
				let map = L.map('map').setView([43.624, 7.052383], 13.5);

				L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
				}).addTo(map);

				let LeafIcon = L.Icon.extend({
				    options: {
				        iconAnchor:   [12, 12],
				        popupAnchor:  [7, -7]
				    }
				});

				let TRADI = new LeafIcon({iconUrl: 'public/images/TRADI.gif'}),
					MULTI = new LeafIcon({iconUrl: 'public/images/MULTI.gif'}),
					WHERIGO = new LeafIcon({iconUrl: 'public/images/WHERIGO.gif'}),
					VIRTUAL = new LeafIcon({iconUrl: 'public/images/VIRTUAL.gif'}),
					EARTHCACHE = new LeafIcon({iconUrl: 'public/images/EARTHCACHE.gif'}),
					LETTERBOX = new LeafIcon({iconUrl: 'public/images/LETTERBOX.gif'}),
					EVENT = new LeafIcon({iconUrl: 'public/images/EVENT.gif'}),
					SPECIAL = new LeafIcon({iconUrl: 'public/images/SPECIAL.gif'}),
					MYSTERY = new LeafIcon({iconUrl: 'public/images/MYSTERY.gif'});

				let geocaches = [
					<% geocaches.forEach(function(geocache) { %>
						new L.LatLng(<%= geocache.get("GPS").latitude %>, <%= geocache.get("GPS").longitude %>),
					<% }); %>
				];

				<% geocaches.forEach(function(geocache) { %>
					L.marker([<%= geocache.get("GPS").latitude %>, <%= geocache.get("GPS").longitude %>], {icon: <%= geocache.get("Category") %>}).addTo(map).bindPopup('<h3 style="color:#83B348;"><a href="/geocache?id=<%= geocache.id %>"><%= geocache.get("Nom") %></a></h3>');
				<% }); %>

				L.control.scale().addTo(map);

				let bounds = new L.LatLngBounds(geocaches);
				map.fitBounds(bounds, {padding: [50, 50]});

			</script>

			<br><br>
			<a href="/ranking" class="button alt">🏆 Voir le classement</a>

			</section>
		</div>
	</div>

	<% include ./partials/footer %>
</body>
</html>
