<!DOCTYPE HTML>
<html>
	<head>
		<title><%= nom %> - Géocaching Jeux de Sophia 2015</title>
		<% include ./partials/head %>
	</head>
	<body>

		<!-- Header Wrapper -->
			<div class="wrapper style1">
			
			<!-- Header -->
				<div id="header">
					<div class="container">
							
						<!-- Logo -->
							<h1><a href="/" id="logo">Géocaching</a></h1>
						
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="/">Accueil</a></li>
									<li class="active"><a href="/geocaches">Les Caches à trouver</a></li>
									<li><a href="/geocaching">Règles du jeu</a></li>
									<li><a href="/tools">Les Outils</a></li>
									<li><a href="http://jeuxdesophia.com/jcms/rda_6290">Inscriptions</a></li>
								</ul>
							</nav>
	
					</div>
				</div>
			</div>
		
		<!-- Main -->
			<div id="main" class="wrapper style4">

				<!-- Content -->
				<div id="content" class="container">
					<section>
						<header class="major">
							<img width="400px;" align="right" src="<%= photo %>" alt="<%= nom %>">
							<h2><%= nom %></h2>
							<span class="byline">Coordonnées GPS disponibles auprès des organisateurs</span>
						</header>
						<p><%= description %></p>
						
					</section>
					<section>
					<h2>Spoiler</h2>
						<br>
						<details>
						   <summary>Cliquez pour voir l'indice et l'image Spoiler</summary>
						   		<img src="<%= spoiler %>" alt="<%= nom %>"> <br />
						   		<p><b>Indice : </b><%= indice %></p>
						</details>
					</section>
					<br /><br />
					<section>
						<h2>Logbook</h2>
						<br>
						<ul>
						    <% logs.forEach(function(log) { %>
						        <li> <b><%= moment(log.get("Date")).format(shortDateFormat) %> </b>- <%= log.get("Pseudo") %> : <i><%= log.get("Message") %></i></li>
						    <% }); %>
						</ul>

					</section>
					
				</div>
			</div>

<% include ./partials/footer %>


	</body>
</html>