	<!DOCTYPE HTML>
	<html>
	<head>
		<title>LA COURSE AUX ICONES - Géocaching Jeux de Sophia 2017</title>
		<% include ./partials/head %>
		<link rel="stylesheet" href="css/grid.css" />
	</head>
	<body>

		<div class="wrapper style1">

			<div id="header">
				<div class="container">

					<h1><a href="/" id="logo">Géocaching</a></h1>

					<nav id="nav">
						<ul>
							<li><a href="/">Accueil</a></li>
							<li class="active"><a href="/geocaches">Les Caches à trouver</a></li>
							<li><a href="/geocaching">Règles du jeu</a></li>
							<li><a href="/tools">Les Outils</a></li>
							<li><a href="/ranking">Classement</a></li>
						</ul>
					</nav>

				</div>
			</div>
		</div>

		<div id="main" class="wrapper style4">

			<div id="intro" class="container">
				<section>
					<header class="major">
						<h2>Liste des caches posées pour les Jeux de Sophia</h2>
						<span class="byline">A vous de jouer, les caches sont accessibles 7j/7 et 24h/24 !</span>
						<br><br>
						<img src="public/images/course_aux_icones.jpg" alt="La Course aux Icones">
					</header>

					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<img src="public/images/TRADIBIG.gif" alt="Cache traditionnelle">
									<h3>Cache traditionnelle</h3>
									<p>C'est le type de cache d'origine et le plus répandu. Ces géocaches sont constituées d'un conteneur et de coordonnées précises. La taille peut varier, mais au minimum, toutes ces géocaches possèdent un logbook. Les conteneurs plus grands peuvent contenir des objets pour échange ou des objets voyageurs.</p>
								</li>

							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-pencil"><img src="public/images/MYSTERYBIG.gif" alt="Cache mystère"></span>
									<h3>Caches mystères</h3>
									<p>Le type de cache "fourre-tout", ce type de cache peut comporter des énigmes complexes que vous devez d’abord résoudre pour déterminer les coordonnées. Les caches Mystère/Puzzle comprennent des géocaches à la fois nouvelles et uniques qui ne rentrent pas dans une autre catégorie.</p>
								</li>

							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Multi-cache</h3>
									<p>Une multi-cache comporte deux étapes ou plus. L’étape finale est constituée d'un conteneur physique avec un logbook à l'intérieur. Il y a beaucoup de variantes, mais pour la plupart, vous trouverez à la première étape une indication quant à l’emplacement de la seconde. A la seconde une indication quant à l’emplacement de la troisième, et ainsi de suite.</p>
								</li>

							</ul>
						</div>
					</div>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<img src="public/images/course_aux_icones.jpg" alt="La Course aux Icones">
									<h3>EarthCache</h3>
									<p>Une EarthCache est un lieu particulier que vous pouvez visiter pour en savoir plus sur une particularité géologique de notre planète. Les descriptions des EarthCaches comprennent un ensemble de notes éducatives avec des coordonnées. Les visiteurs des EarthCaches peuvent découvrir comment notre planète a été façonnée par des processus géologiques, comment gérer ses ressources et comment les scientifiques recueillent des observations pour accroître leur connaissance de la Terre. Pour plus d’informations sur les EarthCaches, consultez <a href="http://www.earthcache.org/">http://www.earthcache.org/.</a></p>
								</li>

							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-pencil"></span>
									<h3>Boîte aux lettres hybride</h3>
									<p>Letterboxing est un autre style de chasse au trésor, qui utilise des indices au lieu de coordonnées. Dans certains cas, il peut arriver que le propriétaire en ait fait à la fois une Letterbox et une géocache et ait publié ses coordonnées sur Geocaching.com. Ce type de géocache contient un tampon qui est destiné à rester dans la boîte afin que les visiteurs puissent l'utiliser pour enregistrer leur visite. Pour en savoir plus sur le Letterboxing, visitez <a href="http://www.letterboxing.org/">le site Web Letterboxing North America.</a></p>
								</li>

							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Event</h3>
									<p>Une cache Event est une rencontre de géocacheurs locaux ou d'organisations de Géocaching. La page de l'Event précise les horaires de la rencontre et fournit les coordonnées de son lieu. Après la rencontre, la cache Event est archivée.</p>
								</li>

							</ul>
						</div>
					</div>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<img src="public/images/course_aux_icones.jpg" alt="La Course aux Icones">
									<h3>Event Cache In Trash Out (CITO)</h3>
									<p><a href="http://www.geocaching.com/cito/default.aspx">Cache In Trash Out</a> est une initiative environnementale soutenue par la communauté du Géocaching. L'objectif principal de ce programme est de nettoyer et de préserver les espaces naturels que nous côtoyons pendant le Géocaching. Ces Events sont de grands rassemblements dans lesquels les participants se concentrent sur le ramassage de détritus, le retrait des espèces de plantes envahissantes, la plantation d'arbres et de végétation.</p>
								</li>

							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-pencil"></span>
									<h3>Cache Wherigo</h3>
									<p>Wherigo est un ensemble d'outils permettant de créer et de jouer, dans le monde réel, à des aventures rendues possibles grâce à l'utilisation d'un GPS. En associant une aventure Wherigo, appelée une cartouche, avec la recherche d’une cache, le Géocaching peut devenir encore plus intéressant. Entre autres utilisations, les aventures Wherigo permettent aux géocacheurs d'interagir avec des éléments physiques et virtuels, comme des objets ou des personnages, tout en pouvant encore trouver une boîte de géocache bien réelle. Un GPS compatible avec Wherigo est requis pour pouvoir jouer une cartouche. Apprenez-en plus sur plus <a href="http://www.wherigo.com/">Wherigo.com.</a></p>
								</li>

							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Cache Webcam</h3>
									<p>Ce sont des géocaches qui utilisent des webcams déjà existantes et qui filment des endroits variés comme des parcs ou des complexes d'affaires. L'idée est de se positionner dans le champ de la caméra et d'enregistrer une image issue du site sur lequel la webcam diffuse, dans le but de loguer. Vous pouvez trouver les nouvelles caches webcam dans la <a href="http://www.waymarking.com/cat/details.aspx?f=1&guid=d23f8e0b-2e43-4530-8f46-2e4fdae93ddd">Catégorie des caches webcam sur Waymarking.com.</a></p>
								</li>

							</ul>
						</div>
					</div>

					<br><br><br><br><br>
					<p>Cette liste sera mise à jour le 29 mai 2017.</p>
					<br><br>
				</section>

			</div>
		</div>

		<div class="wrapper style2">

			<div id="liste" class="container">
				<section>

					<h2>Les derniers logs</h2>
					<br>
					<ul>
						<% logs.forEach(function(log) { %>

						<% if(log.get("Geocache").get("Active") == true)  { %>
						<li><b><a href="/geocache?id=<%= log.get("Geocache").id %>"> <%= log.get("Geocache").get("Nom") %> </a> : <%= moment(log.get("Date")).utcOffset(120).fromNow() %> le <%= moment(log.get("Date")).utcOffset(120).format("LL [à] LT") %> </b>- <%= log.get("Pseudo") %> : <i><%= log.get("Message") %></i></li>
						<% } %>
						
						<% }); %>
						<li>[...]</li>
					</ul>

					<p class="medium">L'épreuve se déroule du 29 mai au 22 juin, de nouvelles caches seront publiées au fil des 15 premiers jours de juin.</p>
					<p class="medium">La plupart de ces caches sont spécifiquement posées pour les Jeux de Sophia et sont donc par conséquent non accessibles, ni même visibles sur le site geocaching.com et les applications officielles Géocaching.com.</p>
					<p>Des tickets de tombola seront aléatoirement placés par nos soins dans les différentes caches à découvrir.</p>

				</section>
			</div>
		</div>

		<div class="wrapper style5">

			<div id="carte" class="container">

				<section>
					<header class="major">
						<h2>Carte des emplacements</h2>
						<span class="byline">Les coordonnées des caches de type "Mystery - ?" sont fictives, à vous de les trouver ;-) Pour certains type de géocaches "virtuelle", il n'y a aucune boite physique à trouver, seulement une "action particulière" à réaliser pour valider votre trouvaille.</span>
					</header>


					<div id="map"></div>

					<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfOPPHsPEYs7o8-xdYce1Bdxgmh-4TBAc&callback=initialize"
					type="text/javascript"></script>

					<script>
						locations = [

						<% geocaches.forEach(function(geocache) { %>
							[<%= geocache.get("GPS").latitude %>,<%= geocache.get("GPS").longitude %>, "<%= geocache.get("Nom") %>","<%= geocache.get("Category") %>"],
							<% }); %>

						[43.6131,7.06354, "Mystery", "MYSTERY"]
						];

						function initialize() {
							map = new google.maps.Map(document.getElementById("map"), {
								mapTypeId: google.maps.MapTypeId.ROADMAP,
								center: new google.maps.LatLng(locations[0][0], locations[0][1]),
								zoom: 10
							});

							for (var i=0; i<locations.length; i++) {
								
								var mytext = 'Infowindow contents in HTML'
								var myinfowindow = new google.maps.InfoWindow({
									content: '<h3 style="color:#83B348;">'+locations[i][2]+'</h3>'
								});

								var marker = new google.maps.Marker({
									position: new google.maps.LatLng(locations[i][0], locations[i][1]),
									map: map,
									title: locations[i][2],
									infowindow: myinfowindow,
									icon: 'images/'+locations[i][3]+'.gif'
								});
								
								google.maps.event.addListener(marker, 'click', function () {
									this.infowindow.open(map, this);
								});
							}
							setBoundsLeftSidebar(locations, 0.9);
						}

					</script>
					<br>
					<br>
					<a href="/ranking" class="button alt">Voir le classement</a>

				</section>
			</div>
		</div>

		<% include ./partials/footer %>
		<script src="public/js/salvattore.min.js"></script>
	</body>
	</html>