<!DOCTYPE HTML>
<html>
<head>
	<title>Géocaching Jeux de Sophia 2019</title>
	<% include ./partials/head %>
	<link rel="stylesheet" href="public/css/style-table.css" />
</head>
<body>
	<% include ./partials/menu %>

	<div id="main" class="wrapper style4">

		<div id="content" class="container">
			<section>
				<header class="major">
					<h2>Score total de <i><%= pseudo %></i> : <%= scoresCache.total %></h2>
				</header>

				<h2>Mes caches trouvées : <%= scoresCache.total  %> </h2>
				<table class="zebra">
					<thead>
						<tr>
							<th colspan=1><b>Cache</b></th>
							<th colspan=1><b>Difficulté</b></th>
							<th colspan=1><b>Terrain</b></th>
							<th colspan=3><b>FTF/STF/TTF</b></th>
						</tr>
					</thead>
					<tbody>
						<% scoresCache.caches.forEach(function(cache) { %>
						<tr>
							<td colspan=1 style="vertical-align: middle;">
								<a href="/geocache?id=<%= cache.id %>"><b> <%= cache.name %></b></a>
							</td>
							
							<td colspan=1 style="text-transform: capitalize;"><%= cache.diff %></td>
							<td colspan=1 style="text-transform: capitalize;"><%= cache.terrain %></td>
							
							<td colspan=1><%= cache.ftf %></td>
						</tr>
						<% }); %>
					</tbody>
				</table>

				<ul>
					<li>Score pour caches trouvées (<i>20 points par cache</i>) : <b><%- scoresCache.ScoreFound %></b></li>
					<li>Score pour des étoiles Difficulté/Terrain : <b><%- scoresCache.ScoreDT %></b></li>
					<li>Score pour FTF (<i>3 points</i>) / STF (<i>2 points</i>) / TTF (<i>1 point</i>) : <b><%- scoresCache.ScoreFTF %></b></li>
					<li>Score pour les points favoris attribués à mes caches (<i>1 point / Fav</i>) : <b><%- scoresCache.ScoreCache %></b></li>
				</ul>

				<p class="medium"><b>Note :</b> ce score peut être différent de celui inscrit sur le <a href="/ranking">classement général</a> car il est calculé en temps réel en fonction de l'ordre des logs envoyés. Le classement général est géré en partie manuellement pour prendre en compte les erreurs eventuelles. N'hésitez pas à nous contacter si vous détectez des incohérences.</p>

				<a href="/ranking" class="button alt">&raquo; Retourner au classement</a>
			</section>
		</div>
	</div>
	<% include ./partials/footer %>
</body>
</html>
