<!DOCTYPE HTML>
<html>
<head>
	<title>PHOTOS DES LOG DES CACHES - Géocaching Jeux de Sophia 2019</title>
	<% include ./partials/head %>
</head>
<body>
	<% include ./partials/menu %>
	<div id="main" class="wrapper style4">

		<div id="intro" class="container">
			<section>
				<header class="major">
					<h2>Toutes les photos de l'épreuve</h2>
					<span class="byline">A vous de jouer, les caches sont accessibles 7j/7 et 24h/24 !</span>				
				</header>

				<div style="display:flex; flex-wrap:wrap; justify-content:space-evenly; align-items: baseline;" class="clearfix">
					<% logs.forEach(function(log) { %>
						<div style="margin-right: 50px; margin-bottom: 15px; text-align: center;">
							<a href="<%= log.get("Photo").url().replace(/^[a-zA-Z]{3,5}\:\/{2}[a-zA-Z0-9_.:-]+\//, '') %>">
								<img width="250px;" class="border" src="<%= log.get("Photo").url().replace(/^[a-zA-Z]{3,5}\:\/{2}[a-zA-Z0-9_.:-]+\//, '') %>" />
							</a>
							<p>
								<a href="/geocache?id=<%= log.get("Geocache").id %>"><b><%= log.get("Geocache").get("Nom") %></b></a>
								<br>
								<i><%= log.get("Pseudo") %></i>
							</p>
						</div>
					<% }); %>
				</div>

				<%  for (var i = 1; i <= pages; i++) { 
				    if(page==i) { %>
						&raquo; Page <%= i %>&nbsp;&nbsp;
					<% } else { %>
						<a href="/photoscaches?page=<%= i %>">Page <%= i %></a>&nbsp;&nbsp;
					<% } %>
				<% } %>

			</section>
		</div>
	</div>
	<% include ./partials/footer %>
</body>
</html>