<!DOCTYPE HTML>
<html>
<head>
	<title>Classement - Géocaching Jeux de Sophia 2018</title>
	<% include ./partials/head %>
	<link rel="stylesheet" href="public/css/style-table.css">
</head>
<body>
	<% include ./partials/menu %>

	<div id="main" class="wrapper style4">

		<div id="content" class="container">
			<section>
				<header class="major">
					<h2>Classement Général</h2>
				</header>

				<p><b>Note :</b> le classement général n'est pas calculé en temps réel tandis que le <a href="#classement_individuel">classement individuel</a> l'est ! Attendez un recalcul pour que les deux soient alignés. Plus de details sur la méthode de calcul des points <a href="/geocaching#points">ici</a></p>
				
				<table class="zebra">
					<thead>
						<tr>
							<th>
								<b>N°</b>
							</th>
							<th>
								<b>Pseudo</b>
							</th>
							<th>
								<b>Points</b>
							</th>
							<th>
								<b>🎁 Nb caches</b>
							</th>
							<th>
								<b>🥇 FTF</b>
							</th>
							<th>
								<b>🥈 STF</b>
							</th>
							<th>
								<b>🥉 TTF</b>
							</th>
							<th>
								<b>🗿 Cache FAV</b>
							</th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tfoot>
					
					<tbody>
						<% ranking.forEach(function(rank, i) { %>
						<tr>
							<td><%= i+1 %></td>
							<td><%= rank.get("Geocacheur").get("Pseudo") %></td>
							<td><%= rank.get("Score") %></td>
							<td><%= rank.get("Found") %></td>
							<td><%= rank.get("FTF") %></td>
							<td><%= rank.get("STF") %></td>
							<td><%= rank.get("TTF") %></td>
							<td><%= rank.get("ScoreCache") %></td>

						</tr>
						<% }); %>
					</tbody>
					
				</table>
			</section>

			<section>
				<h2>🏅 Classement FTF, STF, TTF</h2>
				<ul style="list-style-type:decimal; margin-left:30px;">
					<% geocacheursFTF.forEach(function(g, i) {  if(g.get("ScoreFTF") > 0) { %>
					<li><b><%= g.get("Geocacheur").get("Pseudo") %></b> avec <%= g.get("ScoreFTF") %> point<%if(g.get("ScoreFTF") > 1) { %>s <% } %></li>
					<%} }); %>
				</ul>
			</section>
			<br>
			<section>
				<h2>❤️ Classement des Caches préférées</h2>
				<ul style="list-style-type:decimal; margin-left:30px;">
					<% geocaches.forEach(function(geocache) { %>
					<li><b><%= geocache.get("Fav") %></b> 👍 (<%= geocache.get("RatioFav") %> % des visites) pour <b><a href="/geocache?id=<%= geocache.id %>"> <%= geocache.get("Nom") %> </a> posée par <%= geocache.get("Owner") %> </b></li>

					<% }); %>
				</ul>
			</section>
			<br>
			<section id="classement_individuel">
				<header class="major">
					<h2>Classement Individuel</h2>
				</header>
				<h2>Calcul en temps réel de mon score</h2>
				<form ref="uploadForm" id="uploadForm" method="post" action="/myscore" style="display: flex; flex-direction: row;">
					<input type="email" name="email" id="email" value="" style="border: solid 1px #000; width: 70%; display: block;" placeholder="Email de participant pour vous identifier" required/>
					<input type="submit" value="Détail de mon score" name="submit" style="border: solid 1px #000; width: 30%; display: block;" class="button alt" id="submitButton" title="Voir mon score" />
				</form>  
				<p class="small">Classement "temps réél" pour le fun et succeptible de varier après vérification sur les logbooks ;-)</p>
			</section>
			<br>
			<br>
			<section>
				<header class="major">
					<h2>Classement des éditions précédentes</h2>
				</header>
				
				<ul>
					<li><a href="/ranking2018"><b>&raquo; Archive du classement et des caches - édition 2018</b></a></li>
					<li><a href="/ranking2017"><b>&raquo; Archive du classement et des caches - édition 2017</b></a></li>
				</ul>
			</section>
		</div>
	</div>

	<% include ./partials/footer %>


</body>
</html>