<!DOCTYPE HTML>
<html>
<head>
	<title>Classement - Géocaching Jeux de Sophia 2018</title>
	<% include ./partials/head %>
	<link rel="stylesheet" href="public/css/style-table.css">
</head>
<body>
	<div class="wrapper style1">

		<div id="header">
			<div class="container">

				<h1><a href="/" id="logo">Géocaching</a></h1>

				<nav id="nav">
					<ul>
						<li><a href="/">Accueil</a></li>
						<li><a href="/geocaches">Géocaches</a></li>
						<li><a href="/tbs">Objets Voyageurs</a></li>
						<li><a href="/geocaching">Règles du jeu</a></li>
						<li><a href="/tools">Outils</a></li>
						<li class="active"><a href="/ranking">Classement</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>

	<div id="main" class="wrapper style4">

		<div id="content" class="container">
			<section>
				<header class="major">
					<h2>Classement Général</h2>
				</header>

				<p class="small"><b>Note :</b> le classement général n'est pas calculé en temps réel tandis que le <a href="#classement_individuel">classement individuel</a> l'est ! Attendez un recalcul pour que les deux soient alignés.</p>
				
				<table class="zebra">
					<thead>
						<tr>
							<th>
								<b>N°</b>
							</th>
							<th>
								<b>Pseudo</b>
							</th>
							<th>
								<b>Points</b>
							</th>
							<th>
								<b>Caches trouvées</b><br><i>(20pt / cache)</i>
							</th>
							<th>
								<b>🥇 FTF</b><br><i>(3pt / cache)</i>
							</th>
							<th>
								<b>🥈 STF</b><br><i>(2pt / cache)</i>
							</th>
							<th>
								<b>🥉 TTF</b><br><i>(1pt / cache)</i>
							</th>
							<th>
								<b>⭐ Score D/T</b><br><i>(1pt / etoile)</i>
							</th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tfoot>
					
					<tbody>
						<% geocacheurs.forEach(function(geocacheur, i) { %>
						<tr>
							<td><%= i+1 %></td>
							<td><%= geocacheur.get("Pseudo") %></td>
							<td><%= geocacheur.get("Score") %></td>
							<td><%= geocacheur.get("Found") %></td>
							<td><%= geocacheur.get("FTF") %></td>
							<td><%= geocacheur.get("STF") %></td>
							<td><%= geocacheur.get("TTF") %></td>
							<td><%= geocacheur.get("ScoreDT") %></td>
						</tr>
						<% }); %>
					</tbody>
					
				</table>
			</section>

			<section>
				<h2>🏅 Classement FTF, STF, TTF</h2>
				<ul style="list-style-type:decimal; margin-left:30px;">
					<% geocacheursFTF.forEach(function(g, i) {  if(g.get("ScoreFTF") > 0 ) { %>
					<li><b><%= g.get("Pseudo") %></b> avec <%= g.get("ScoreFTF") %> point<%if(g.get("ScoreFTF")>1) { %>s <% } %></li>
					<%} }); %>
				</ul>
			</section>
			<br>
			<section>
				<h2>❤️ Classement des Caches préférées</h2>
				<ul style="list-style-type:decimal; margin-left:30px;">
					<% geocaches.forEach(function(geocache) { %>
					<li><b><%= geocache.get("Fav") %></b> 👍 (<%= geocache.get("RatioFav") %> % des visites) pour <b><a href="/geocache?id=<%= geocache.id %>"> <%= geocache.get("Nom") %> </a> </b></li>

					<% }); %>
				</ul>
			</section>
			<br>
			<section id="classement_individuel">
				<header class="major">
					<h2>Classement Individuel</h2>
				</header>
				<h2>Calcul en temps réel de mon score</h2>
				<form ref="uploadForm" id="uploadForm" method="post" action="/myscore" style="display: flex; flex-direction: row;">
					<input type="email" name="email" id="email" value="" style="border: solid 1px #000; width: 70%; display: block;" placeholder="Email de participant pour vous identifier" required/>
					<input type="submit" value="Détail de mon score" name="submit" style="border: solid 1px #000; width: 30%; display: block;" class="button alt" id="submitButton" title="Voir mon score" />
				</form>  
				<p class="small">Classement "temps réél" pour le fun et succeptible de varier après vérification sur les logbooks ;-)</p>
			</section>
			<br>
			<br>
			<section>
				<header class="major">
					<h2>Classement des éditions précédentes</h2>
				</header>
				<a href="/ranking2017"><b>&raquo; Archive du classement et des caches - édition 2017</b></a>
			</section>
		</div>
	</div>

	<% include ./partials/footer %>


</body>
</html>