<!DOCTYPE HTML>
<html>
<head>
	<title><%= nom %> - Géocaching Jeux de Sophia 2018</title>
	<% include ./partials/head %>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
</head>
<body>
	<% include ./partials/menu %>

	<div id="main" class="wrapper style4">

		<div id="content" class="container">
			<section>
				<header class="major">
					<img width="420px;" align="right" src="<%= photo %>" alt="<%= nom %>" style="margin-bottom:20px;">
					<img width="70px;" align="left" src="public/images/tb.jpg" style="margin-right:60px;"/>
					<h2 ><%= nom %></h2>
					<span class="byline"><%= fav %> 👍</span>
					<% if (holder != null) { %>
						<span class="byline">Dans les mains de <%= holder %>
						<br /><br />
						<!--<p><a href="/logtb?action=drop&id=<%= id %>" alt=" Déposez le dans une cache !" style="float:left;" class="button small">&raquo;  Déposez le dans une cache !</a></p>-->
					<% } %></span>
					<% if (holder==null && cacheId != null) { %>
						<span class="byline">Dans la cache <%= cacheName %> 
						<br /><br />
						<!--<p><a href="/logtb?action=grab&id=<%= id %>&cacheId=<%= cacheId %>" alt=" Vous l’avez trouvé ? Récupérez le !" style="float:left;" class="button small">&raquo;  Vous l’avez trouvé ? Récuperez le !</a></p>-->
					<% } %></span>
				</header>

				<h2>Objet Voyageur de <i style="text-transform: capitalize;"><%= owner %></i></h2>
				<h3>Description</h3>
				<p><%- description %></p>
				<h3>Mission</h3>
				<p><%- mission %></p>

			</section>
			<br />

			<section>
				<h2>🌍 Historique des déplacements (<span id="distance">0</span> km)</h2>
				<div id="map"></div>

				<script type="text/javascript">
					var map = L.map('map').setView([43.624, 7.052383], 13.5);

					L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
					    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
					}).addTo(map);

    				L.control.scale().addTo(map);

					var LeafIcon = L.Icon.extend({
					    options: {
					        iconAnchor:   [12, 12],
					        popupAnchor:  [7, -7]
					    }
					});

					var TRADI = new LeafIcon({iconUrl: 'public/images/TRADI.gif'}),
    					MULTI = new LeafIcon({iconUrl: 'public/images/MULTI.gif'}),
    					WHERIGO = new LeafIcon({iconUrl: 'public/images/WHERIGO.gif'}),
    					VIRTUAL = new LeafIcon({iconUrl: 'public/images/VIRTUAL.gif'}),
    					EARTHCACHE = new LeafIcon({iconUrl: 'public/images/EARTHCACHE.gif'}),
    					LETTERBOX = new LeafIcon({iconUrl: 'public/images/LETTERBOX.gif'}),
    					EVENT = new LeafIcon({iconUrl: 'public/images/EVENT.gif'}),
    					SPECIAL = new LeafIcon({iconUrl: 'public/images/SPECIAL.gif'}),
    					MULTI = new LeafIcon({iconUrl: 'public/images/MULTI.gif'}),
    					MYSTERY = new LeafIcon({iconUrl: 'public/images/MYSTERY.gif'});

					<% objetsLogged.forEach(function(tblog) { %>
						<% if(tblog.get("Geocache")!=null) { %>
							L.marker([<%= tblog.get("Geocache").get("GPS").latitude %>, <%= tblog.get("Geocache").get("GPS").longitude %>], {icon: <%= tblog.get("Geocache").get("Category") %>}).addTo(map).bindPopup('<h3 style="color:#83B348;"><a href="/geocache?id=<%= tblog.get("Geocache").id %>"><%= tblog.get("Geocache").get("Nom") %></a></h3>');
						<% } %>
					<% }); %>

					var parcoursTB = [
						<% objetsLogged.forEach(function(tblog) { %>
							<% if(tblog.get("Geocache")!=null) { %>
								new L.LatLng(<%= tblog.get("Geocache").get("GPS").latitude %>, <%= tblog.get("Geocache").get("GPS").longitude %>),
							<% } %>
						<% }); %>
					];

					L.Polyline = L.Polyline.include({
					    getDistance: function() {
					        // distance in meters
					        var mDistanse = 0,
					            length = this._latlngs.length;
					        for (var i = 1; i < length; i++) {
					            mDistanse += this._latlngs[i].distanceTo(this._latlngs[i - 1]);
					        }
					        return Number((mDistanse / 1000).toFixed(2));
					    }
					});

					var traceParcoursTB = new L.Polyline(parcoursTB, {
					    color: 'red',
					    weight: 3,
					    opacity: 0.6,
					    smoothFactor: 1
					});
					traceParcoursTB.addTo(map);

					<% if (holder==null && cacheId != null) { %>
						var TB_PHOTO = new LeafIcon({iconUrl: '<%= photo %>', iconSize: [36, 36], iconAnchor: [50, 10]});
						L.marker(parcoursTB[0], {icon: TB_PHOTO}).addTo(map);
					<% } %>

					var bounds = new L.LatLngBounds(parcoursTB);
					map.fitBounds(bounds, {padding: [50, 50]});

					document.getElementById('distance').innerHTML = traceParcoursTB.getDistance();

				</script>
				
				<br />
				<ul>
				<% objetsLogged.forEach(function(obj) { %>
					<% if (obj.get("Action") == "Created") { %>
						<li> <b><%= moment(obj.get("Date")).utcOffset(120).fromNow() %> le <%= moment(obj.get("Date")).utcOffset(120).format("LL [à] LT") %></b> - <%= obj.get("Pseudo") %> a créé l'objet voyageur </i><% if(obj.get("PhotoUrl"))  { %> - <a href="<%= obj.get("PhotoUrl").replace(/^[a-zA-Z]{3,5}\:\/{2}[a-zA-Z0-9_.:-]+\//, ''); %>">photo</a><% } %></li>					
					<% } else if (obj.get("Action") == "drop") { %>
						<li> <b><%= moment(obj.get("Date")).utcOffset(120).fromNow() %> le <%= moment(obj.get("Date")).utcOffset(120).format("LL [à] LT") %></b> - <%= obj.get("Pseudo") %> <%= obj.get("Action") %> dans la cache <a href="/geocache?id=<%= obj.get("cacheId") %>"><b><%= obj.get("cacheName") %></b></a> : <i><%= obj.get("Message") %></i><% if(obj.get("PhotoUrl"))  { %> - <a href="<%= obj.get("PhotoUrl").replace(/^[a-zA-Z]{3,5}\:\/{2}[a-zA-Z0-9_.:-]+\//, ''); %>">photo</a><% } %>
						<% if(obj.get("Fav") == true)  { %> - 👍 <% } %></li>
					<% } else { %>	
						<li> <b><%= moment(obj.get("Date")).utcOffset(120).fromNow() %> le <%= moment(obj.get("Date")).utcOffset(120).format("LL [à] LT") %></b> - <%= obj.get("Pseudo") %> <%= obj.get("Action") %> a partir de la cache <a href="/geocache?id=<%= obj.get("cacheId") %>"><b><%= obj.get("cacheName") %></b></a> : <i><%= obj.get("Message") %></i><% if(obj.get("PhotoUrl"))  { %> - <a href="<%= obj.get("PhotoUrl").replace(/^[a-zA-Z]{3,5}\:\/{2}[a-zA-Z0-9_.:-]+\//, ''); %>">photo</a><% } %>
						<% if(obj.get("Fav") == true)  { %> - 👍 <% } %></li>
					<% } %> 
				<% }); %>
				</ul>
			</section>
			<br />
			<section>
				<h2>💬 Fil de discussion concernant <%= nom %></h2>
				<div id="disqus_thread"></div>
				<script>
					(function() {
					var d = document, s = d.createElement('script');
					s.src = 'https://geocaching-jds.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>

		</div>
	</div>
	<% include ./partials/footer %>

</body>
</html>