<!DOCTYPE HTML>
<html>
<head>
	<title><%= nom %> - Géocaching Jeux de Sophia 2018</title>
	<% include ./partials/head %>
</head>
<body>
	<% include ./partials/menu %>

	<div id="main" class="wrapper style4">

		<div id="content" class="container">
			<section>
				<header class="major">

					<img width="400px;" align="right" src="<%= photo %>" alt="<%= nom %>" style="margin-bottom:20px;">
					<img width="60px;" align="left" src="public/images/tb.jpg" style="margin-right:60px;"/><h2><%= nom %></h2>
					<span class="byline"><%= fav %> 👍</span>
					<% if (holder != null) { %>
						<span class="byline">Dans les mains de <%= holder %> 
						<br><br>
						<p><a href="/logtb?action=drop&id=<%= id %>" alt=" Déposez le dans une cache !" style="float:left;" class="button small">&raquo;  Déposez le dans une cache !</a></p>
					<% } %></span>
					<% if (holder==null && cacheId != null) { %>
						<span class="byline">Dans la cache <%= cacheName %>
						<br><br>
						<p><a href="/logtb?action=grab&id=<%= id %>&cacheId=<%= cacheId %>" alt=" Vous l’avez trouvé ? Récupérez le !" style="float:left;" class="button small">&raquo;  Vous l’avez trouvé ? Récuperez le !</a></p>
					<% } %></span>
				</header>

				<p><h3>Objet Voyageur de <i><%= owner %></i></h3></p>
				<h4>Description</h3>
				<p><%- description %></p>
				<h4>Mission</h3>
				<p><%- mission %></p>

			</section>
			<br>
			<section>
				<h3>Historique des déplacements</h3>
				<ul>
				<% objetsLogged.forEach(function(obj) { %>
					<% if (obj.get("Action") == "Created") { %>
						<li> <b><%= moment(obj.get("Date")).utcOffset(120).fromNow() %> le <%= moment(obj.get("Date")).utcOffset(120).format("LL [à] LT") %> </b>- <%= obj.get("Pseudo") %> a créé l'objet voyageur </i><% if(obj.get("PhotoUrl"))  { %> - <a href="<%= obj.get("PhotoUrl") %>">photo</a><% } %></li>					
					<% } else if (obj.get("Action") == "drop") { %>
						<li> <b><%= moment(obj.get("Date")).utcOffset(120).fromNow() %> le <%= moment(obj.get("Date")).utcOffset(120).format("LL [à] LT") %> </b>- <%= obj.get("Pseudo") %> <%= obj.get("Action") %> dans la cache <a href="/tb?id=<%= obj.get("cacheId") %>"><b> <%= obj.get("cacheName") %></b> </a> : <i><%= obj.get("Message") %></i><% if(obj.get("PhotoUrl"))  { %> - <a href="<%= obj.get("PhotoUrl") %>">photo</a><% } %></li>
					<% } else { %>	
						<li> <b><%= moment(obj.get("Date")).utcOffset(120).fromNow() %> le <%= moment(obj.get("Date")).utcOffset(120).format("LL [à] LT") %> </b>- <%= obj.get("Pseudo") %> <%= obj.get("Action") %> a partir de la cache <a href="/tb?id=<%= obj.get("cacheId") %>"><b> <%= obj.get("cacheName") %></b> </a> : <i><%= obj.get("Message") %></i><% if(obj.get("PhotoUrl"))  { %> - <a href="<%= obj.get("PhotoUrl") %>">photo</a><% } %></li>
					<% } %> 
				<% }); %>
				</ul>
				
			</section>
			<br /><br />
			<section>
				<h3>Fil de discussion concernant <%= nom %></h3>
				<br>
				<div id="disqus_thread"></div>
				<script>
				var disqus_config = function () {
					// this.page.url = PAGE_URL; 
					this.page.identifier = <%= id %>;
				};

				(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://geocaching-jds.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</section>

		</div>
	</div>
	<% include ./partials/footer %>

</body>
</html>
