<!DOCTYPE HTML>
<html>
<head>
	<title><%= nom %> - Géocaching Jeux de Sophia 2018</title>
	<% include ./partials/head %>
</head>
<body>
	<% include ./partials/menu %>

	<div id="main" class="wrapper style4">

		<div id="content" class="container">
			<section>
				<header class="major">

					<img width="400px;" align="right" src="<%= photo %>" alt="<%= nom %>" style="margin-bottom:20px;">
					<img width="60px;" align="left" src="public/images/tb.jpg" style="margin-right:60px;"/><h2><%= nom %></h2>
					<% if (holder != null) { %>
					<span class="byline">Dans les mains de <%= holder %> <% } %></span>
					
				</header>

				<p><h3>Objet Voyageur de <i><%= owner %></i></h3></p>

				<h3>Description</h3>
				<p><%- description %></p>
				<h3>Mission</h3>
				<p><%- mission %></p>

			</section>
			<br /><br />

		</div>
	</div>
	<% include ./partials/footer %>

</body>
</html>
